* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: #f5f7fa;
    padding: 20px;
}
.main_container {
    display: flex;
    background: #ffffff;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
aside {
    background: #1e2939;
    color: #ffffff;
    padding: 40px 0;
}
aside img {
    width: 370px;
}
aside ul {
    margin-left: 15px;
}
aside li,
.contacts a,
.contacts span {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
aside li {
    color: #ff6b08;
}
aside li span {
    color: #d8dadd;
}
.contacts,
.tech_skills,
.soft_skills {
    padding-left: 40px;
    margin-top: 57px;
}
.contacts h3,
.tech_skills h3,
.soft_skills h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}
.contacts span {
    font-weight: 700;
    margin-right: 10px;
}
.contacts a {
    color: #798089;
}







.about_me {
    padding: 108px 89px;
}